.background{
  background-color: lightblue; /* เปลี่ยนเป็นสีที่ต้องการ */
  background-size: cover; /* ทำให้ภาพเต็มหน้าจอ */
  width: 100%;
  height: 100vh; /* ครอบคลุมความสูงของหน้าจอทั้งหมด */
}
.nav-logo img {
  width: 100px; /* ปรับขนาดตามที่ต้องการ */
  height: auto;
}

.nav-bar {
  background-color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-links li {
  margin: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  color: gray;
}

